extends ../../layouts/_adminLayout
block content
    h1 #{translation.TITLE_ADMIN_PAGE}
    br
    ul.collection.with-header
        if pages.length
            each val in pages
                li.collection-item
                    div
                        | #{val.Title}
                        a.secondary-content(href='/admin/page/page_delete?id=' + val.PageId)
                            i.material-icons clear
                        a.secondary-content(href='/admin/page/page_edit?id=' + val.PageId)
                            i.material-icons create
        else
            li.collection-item
                div
                    | #{translation.NO_PAGE_AVAILABLE}
    br

    div.fixed-action-btn
        a.btn-floating.btn-large.red
            i.material-icons menu
        ul
            li
                a.btn-floating.btn-large.waves-effect.waves-light.green(href='/admin/page/page_add')
                    i.material-icons add
            li
                a.btn-floating.btn-large.waves-effect.waves-light.yellow(href='/admin/page/page_link')
                    i.material-icons insert_link

    script.
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems, {
                direction: 'left'
            });
        });