extends ../layouts/_layout

block content

    h1.display-4.m-b-2 #{translation.TITLE_SEARCH}

    a#a_person_add.btn.btn-primary(href="/search/search_person") #{translation.PERSON}
        i.material-icons.right group
    a#a_person_edit.btn.btn-primary(href="/search/search_choir") #{translation.CHORUS}
        i.material-icons.right music_note
