extends ../layouts/_layout

block content
    br
    iframe(src='https://calendar.google.com/calendar/b/1/embed?title=Evenement%20Chanter.ch&height=700&wkst=2&bgcolor=%23FFFFFF&src=hes.chanter.ch%40gmail.com&color=%231B887A&ctz=Europe%2FZurich', style='border-width:0', width='1000', height='700', frameborder='0', scrolling='no')

