extends ../layouts/_layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Logging in

                if hasError
                    div.card-panel.red= errorMessage

                // login form
                form(method='POST' action='/admin')
                    div.form-group
                        label(for='id') Id:
                        input#id.form-control(type='text', placeholder='Id' name='id' required)
                        label(for='pwd') Password:
                        input#pwd.form-control(type='password', placeholder='********' name='pwd' required)
                    button.btn.btn-primary(type='submit') Log in


                block error