extends choir

block resultSearch

    br
    br

    if success
        div.success
        p #{translation.SEARCH_CHOIR_SUCCESS}
    else
        div.failed
        p #{translation.SEARCH_CHOIR_FAILURE}