extends ../../layouts/_adminLayout

block content

    h1.display-4.m-b-2  #{translation.TITLE_ADMIN_CHOIR}

    a#a_choir_add.btn.btn-primary(href="/admin/choir/add") #{translation.ADD_CHOIR}
    a#a_choir_update.btn.btn-primary(href="/admin/choir/update") #{translation.UPDATE_CHOIR}


    //Result of the insert - update
    block result
    //ADD CHOIR
    block add_choir
    //UPDATE CHOIR
    block update_choir
    //Result Research
    block resultSearch







