extends menu

block add_menu

    script.
        document.getElementById('a_menu_add').classList.add('active');
        document.getElementById('a_menu_edit').classList.remove('active');
        document.getElementById('a_menu_delete').classList.remove('active');

    form(method='POST' action='/admin/menu/add', id='add_menu')
        div.form-group

            div(class='row')
                div(class='column')
                    label(for='add_title') #{translation.TITLE}:
                    input#add_title.form-control(type='text', placeholder='Title' name='title' required)

                div(class='column')
                    p
                    label
                        input#add_is_main(name='mainMenu', type='checkbox' value='true')
                        span #{translation.IS_MAIN}


        button.btn.btn-primary(type='submit') #{translation.ADD}

