extends ../layouts/_layout

block content

    h1.display-4.m-b-2 #{translation.TITLE_CONTACT}

        form.col.s12(method='POST' action='/contact')

            .input-field.col.s6
                input.email.validate(type='text' name="email" id="email")
                label(for='email') #{translation.EMAIL}

            .input-field.col.s6
                textarea#content.materialize-textarea
                label(for='content') #{translation.MESSAGE}

            p
                button.btn.waves-effect.waves-light(type='submit' name='action')
                    | #{translation.SEND}
                    i.material-icons.right send