extends ../../layouts/_adminLayout

block content

    h1.display-4.m-b-2 #{translation.TITLE_ADMIN_PERSON}

    a#a_person_add.btn.btn-primary(href="/admin/person/person_add") #{translation.ADD_PERSON}
    a#a_person_edit.btn.btn-primary(href="/admin/person/person_edit_search") #{translation.EDIT_PERSON}
    a#a_person_delete.btn.btn-primary(href="/admin/person/person_delete") #{translation.DELETE_PERSON}

    //Result of the insert - delete - update
    block result

    // ADD PERSON
    block person_add_block

    // EDIT PERSON
    block person_edit_block

    // DELETE PERSON
    block person_delete_block

    // BLOCK RESULT OF THE RESEARCH FOR EDIT
    block resultSearch

        
