extends person

block resultSearch

    br
    br

    if success
        div.success
        p #{translation.SEARCH_PERSON_SUCCESS}
    else
        div.failed
        p #{translation.SEARCH_PERSON_FAILURE}