extends person

block person_edit_block

    h2 #{translation.EDIT_PERSON}

    br

    form(method='POST' action='/admin/person/')

        div.form-group

            div(class='row')
                div(class='column')
                    label(for='lastnamePSearch') #{translation.LASTNAME}:
                    input#lastnamePSearch.form-control(type='text', placeholder='Lastname' name='lastnameP' required)

                div(class='column')
                    label(for='firstnamePSearch') #{translation.FIRSTNAME}:
                    input#firstnamePSearch.form-control(type='text', placeholder='Firstname' name='firstnameP' required)


        button.btn.btn-primary(type='submit' name='action') #{translation.SEARCH_PERSON}



