doctype html
html(lang='fr')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

        script(src='/public/assets/js/jquery.js')

        title= title
        block css
            link(href='/public/assets/css/materialize.min.css', rel='stylesheet')
            link(href='/public/css/chanter.css', rel='stylesheet')

    body

        nav
            div(class='nav-wrapper teal lighten-2')
                ul(id='nav-mobile', class='left')
                    li
                        a(href='/') Chanter.ch

                ul(class='right')
                    li.dropdown-trigger(data-target='dropdown_lang') #{translation.LANGUAGE}
                        ul#dropdown_lang.dropdown-content
                            li
                                a(href='?clang=fr') fr
                            li
                                a(href='?clang=de') de
                    li
                        | &nbsp;&nbsp;&nbsp;&nbsp;


        div(class='container')
            block content


        block js
            script(src='/public/assets/js/materialize.min.js')
            script(src='/public/js/main.js')
            script.
                document.addEventListener('DOMContentLoaded', function () {
                    var element = document.querySelectorAll('.dropdown-trigger');
                    var instances = M.Dropdown.init(element, {
                        hover: true,
                        constrainWidth: false,
                        coverTrigger: false
                    });
                });